#search-bar p, #search-bar input{
    float:left;
}
#search-bar button{
    float:right;
    margin-left: 10px;
}
#search-bar input{
    width: auto;
}
#search-result{
    margin-top: 4%;
    text-align: left;
}
#search-result h4{
    margin-top: 20px;
}
#search-result p{
    padding-left: 20px;
    padding-top: 8px;
}
.result-ok{
    color: #3c763d;
}