table{
    width: 100%;
}
.left-panel{
    width: 25%;
    min-width: 200px;
    height: auto;
    margin: 20px auto 50px 20px;
    vertical-align: top;
}
.list-group-item{
    margin: -1px 0px 5px;
}
h4, h3{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
.right-panel{
    width: 90%;
    height: auto;
    margin: 20px auto auto;
    vertical-align: top;
}
.two-panels td{
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
}
.left-panel, .right-panel{
    margin-bottom: 50px;
}
.panel-default{
    margin-bottom: 0px;
}
.glyphicon{
    margin-right: 5px;
}